[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/apidock"]
	path = bundle/apidock
	url = https://github.com/mileszs/apidock.vim.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-ruby-debugger"]
	path = bundle/vim-ruby-debugger
	url = https://github.com/mirlord/vim-ruby-debugger.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = git://github.com/jamis/fuzzyfinder_textmate.git
[submodule "bundle/cmdt"]
	path = bundle/cmdt
	url = https://github.com/wincent/Command-T.git
[submodule "bundles/javascript"]
	path = bundles/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/mineiro/vim-latex.git
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/ruby-debugger"]
	path = bundle/ruby-debugger
	url = https://github.com/mirlord/vim-ruby-debugger.git
[submodule "bundle/vim-web-indent"]
	path = bundle/vim-web-indent
	url = https://github.com/garbas/vim-web-indent
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vimclojure"]
	path = bundle/vimclojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails
[submodule "Rainbow-Parenthesis"]
	path = Rainbow-Parenthesis
	url = https://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "bundle/rainbow-parenthesis"]
	path = bundle/rainbow-parenthesis
	url = https://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
