[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/apidock"]
	path = bundle/apidock
	url = https://github.com/mileszs/apidock.vim.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-ruby-debugger"]
	path = bundle/vim-ruby-debugger
	url = https://github.com/astashov/vim-ruby-debugger.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = git://github.com/jamis/fuzzyfinder_textmate.git
